absl-py==1.2.0
aiofiles==0.8.0
aiohttp==3.8.1
aioredis==1.3.1
aiosignal==1.2.0
alembic==1.8.1
anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.5.1
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
bentoml==1.0.0rc3
build==0.8.0
cachetools==5.2.0
cattrs==22.1.0
certifi==2022.5.18.1
cffi==1.15.0
channels==3.0.4
channels-redis==3.4.0
chardet==5.0.0
charset-normalizer==2.0.12
circus==0.17.1
click==8.1.3
cloudpickle==2.1.0
commonmark==0.9.1
constantly==15.1.0
contextlib2==21.6.0
cryptography==37.0.2
daphne==3.0.2
debugpy==1.6.2
decorator==5.1.1
deepmerge==1.0.4a0
Deprecated==1.2.13
dj-database-url==1.0.0
Django==4.0.4
django-crispy-forms==1.14.0
django-environ==0.9.0
django-heroku==0.3.1
entrypoints==0.4
exceptiongroup==1.0.0rc8
executing==0.9.1
fastapi==0.78.0
filelock==3.7.1
Flask==2.1.2
Flask-Login==0.6.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
frozenlist==1.3.0
fs==2.4.16
gast==0.4.0
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.47.0
gunicorn==20.1.0
h11==0.13.0
h5py==3.7.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.11.3
incremental==21.3.0
ipykernel==6.15.1
ipython==8.4.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jupyter-client==7.3.4
jupyter-core==4.11.1
keras==2.9.0
Keras-Preprocessing==1.1.2
libclang==14.0.6
Mako==1.2.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
MouseInfo==0.1.3
msgpack==1.0.4
multidict==6.0.2
nest-asyncio==1.5.5
numpy==1.23.0
oauthlib==3.2.0
opentelemetry-api==1.9.0
opentelemetry-instrumentation==0.28b0
opentelemetry-instrumentation-aiohttp-client==0.28b0
opentelemetry-instrumentation-asgi==0.28b0
opentelemetry-sdk==1.9.0
opentelemetry-semantic-conventions==0.28b0
opentelemetry-util-http==0.28b0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
parso==0.8.3
pathspec==0.9.0
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pip-tools==6.8.0
polyglot==16.7.4
prometheus-client==0.13.1
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
psycopg2==2.9.3
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycld2==0.41
pycparser==2.21
pydantic==1.9.1
PyGetWindow==0.0.9
Pygments==2.12.0
pymongo==4.2.0
PyMsgBox==1.0.9
pynvml==11.4.1
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
python-dotenv==0.20.0
python-json-logger==2.0.2
python-multipart==0.0.5
python3-xlib==0.15
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.1
pywhatkit==5.3
PyYAML==6.0
pyzmq==23.2.0
regex==2022.6.2
requests==2.27.1
requests-oauthlib==1.3.1
rich==12.4.4
rsa==4.9
schema==0.7.5
scikit-learn==1.1.1
scipy==1.8.1
service-identity==21.1.0
simple-di==0.1.5
six==1.16.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.36
sqlparse==0.4.2
stack-data==0.3.0
starlette==0.19.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
threadpoolctl==3.1.0
tomli==2.0.1
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.18.2
wcwidth==0.2.5
Werkzeug==2.1.2
whitenoise==6.2.0
wikipedia==1.4.0
wrapt==1.14.1
yarl==1.7.2
zipp==3.8.0
zope.interface==5.4.0
